*.log
/.idea
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
/CMakeFiles
Makefile
*.cmake
*.ii
*.s
*.o
*.out
*.sh
*.Makefile
*.make
Makefile
/.VS
/.vs
*.bin
*.dat
*.txt
*.out
*.OUT
.vscode/c_cpp_properties.json
Nodejs Website/bin
Nodejs Website/obj
Linux Console/bin
Linux Console/obj
/JordanTester/x64/Debug
/JordanTester/.vs/JordanTester/v15
/Competitve Standards/.vs
/Testing MSVC/.vs/JordanTester/v15
/Testing MSVC/x64/Debug
